div{
    font-family: Marcellus;
    margin: 5px;
    display: flex;
    flex-direction: row;
}

.topdiv{
    height: 7.3%;
    background-color: white;
    height: 10vh;
}
.topdiv2{
    flex: 6;
}

.topdiv3{
    flex: 1;
}
.link1{
    color: black;
    text-decoration: none;
}


.middlediv{
    flex-direction: column;
    height: 20vh;

}

.indexdiv{
    flex: 2;
    flex-direction: column;
}
.CVanchor,.homeanchor, .resourcesanchor, .photographyanchor{
    text-decoration: none;
    color: black;
}
.bodydiv{
    height: 50vh;
}
.aboutdiv{
    flex: 5;
}
.imagediv{
    flex: 3;
}

h1{
    font-family: Bree Serif;
    font-weight: bolder;
    font-size: 56px;
    text-align: center;
    color: rgb(52, 89, 17);
    margin-bottom: 30px;
    margin-top: 0px;
    flex: 1;
}
p{
    font-family: Marcellus;
    font-size: 20px;
}
.MyImage{
    border-radius: 15px;
    width: 300px;
    height: 375px;
    margin-left: 20px;
    border-style: solid;
    border-color: black;
}




.bottomdiv{
    height: 15vh;
}
.bottomdiv1{
    flex: 2;
}
.bottomdiv2{
    flex: 5;
}
.officediv{
    flex: 1;
}
.contactdiv{
    flex: 1;
}
.bottomdiv3{
    flex: 3;
}









button{
    color: rgb(0, 0, 0);
    border-radius: 14px;
    width: 175px ;
    height: 55px;
    border: none;
    background-color: white;
    font-family: Marcellus;
    font-weight: bold;
    font-size: 16px;
    transition: font-size 1s, width 1s, height 1s;
}
button:hover{
    cursor: pointer;
    font-size: 20px;
    width: 200px ;
    height: 60px;
}

